/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

/* ----------------
    Utilities/Common styles
-------------------- */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
header{
    padding: 20px 0px 20px 0px;
}
.container{
   width:80%;
   margin: 0 auto;
}
.mt-100{
    margin-top: 100px;
}
.c-lo{      /* color-lightOrange */
    background-color: rgba(255, 144, 14, 0.1);
}
.hide{
    display: none;
}


/* -----------------
    Navbar style
-------------------- */
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
.nav-title{
    font-weight: 700;
    font-size: 35px;
}
/* -------------------
    Banner style
---------------------- */
.banner-info{
    text-align: center; 
}
.banner-title{
    font-weight: 700;
    font-size: 64px;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 30px; 
}
.banner-btn, .qf-btn{
    padding: 20px 30px 20px 30px;
    margin-top: 32px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
}
.banner-img img{
    margin-top: 50px;
    width: 100%;
    height: 550px;
    
}
/* -------------------
   Quick features style
----------------------- */
.quick-features{
    margin-top: 85px;
    display: grid;
    grid-template-areas: 
    "qf-img qf-info qf-info";
    align-items: center;
}
/* qf = quick-features */
.qf-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    grid-area: qf-img;
    /* margin-right: 60px; */
}
.qf-info{
    font-size: 45px;
    font-weight: 700;
    margin-left: 50px;
    grid-area: qf-info;
}
.qf-title .ql{
    font-weight: 500;
    color: #727272;
}
.qf-title .Fs{
    color: #FF900E;
}
.qf-description{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin-top: 20px;
}
/* -------------------
   All features style
----------------------- */
.all-features{
    display: flex;
    justify-content: center;align-items: center;
    margin-top: 150px;
}
/* af = all-features */
.af-info{
    margin-right: 50px;
}
.af-title{
    font-size: 45px;
    font-weight: 700;
    border-left: 4px solid #FF900E;
    padding-left: 20px;
}
.af-description{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 24px;
}
.feature{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px;
    margin-bottom: 20px;
}
.feature-title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.feature-description{
    font-size: 16px;
    color: #727272;
}
.af-img img{
    width: 550px;
    height: 760px;
}
.img-btn{
    padding: 30px 30px;
    background-color: #FF900E;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    position: relative;
    right: 30px;
    bottom: 100px;
}
.ten{
    font-weight: 700;
    font-size: 45px;
}
/* -------------------
   fact-box style
----------------------- */
.fact-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}
.fact-description{
    font-size: 16px;
    color: #727272;
    margin-bottom: 50px;
}
.boxes{
    display: flex;
    justify-content: space-between;
}
.box{
    border: 1px solid #FF900E;
    padding: 50px 30px;
    text-align: center;
    border-radius: 8px;
}
.box:hover{
    box-shadow: 0px 3px 20px #FF900E, 0px 3px 20px #FF900E inset;
    
}
.numb{
    font-size: 45px;
    font-weight: 600;
    color: #424242;
}
.box-text{
    color: #727272;
    font-size: 20px;
}
/* -------------------
   all-Sopnsers style
----------------------- */
.all-Sponsers{
    margin-top: 180px;
    text-align: center;
}
.sponser-title{
    font-weight: 700;
    font-size: 45px;
}
.sponser-description{
    color: #727272;
    margin-top: 24px;
    margin-bottom: 70px;
}
.sponsers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.sponser{
    filter: grayscale(1);
}
.sponser:hover{
    filter: none;
}
/* -------------------
   subscribe-form style
----------------------- */
.subscribe-form{
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 50px 20px;
}
.subscribe-title{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
    text-decoration-line: overline underline;
    text-decoration-style: wavy;
    text-decoration-color: #FF900E;
}
.subscribe-description{
    color: #727272;
}
.inputs{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
input{
    height: 30px;
    padding: 5px 10px;
}
input[type="submit"]{
    background-color: #FF900E;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
/* -------------------
   Footer style
----------------------- */
footer{
    padding: 30px 130px;
    text-align: center;
    border-radius: 8px;
}

/* -------------------
   Media Query for Mobile
----------------------- */
@media only screen and (max-width:576px) {
    .container{
        margin: 15px;
        padding: 0px 5px;
    }
    .mt-100{
        margin-top: 60px;
    }
    nav{
        flex-direction: column;
        text-align: center;
    }
    nav ul{
        margin-top: 20px;
        gap: 30px;
        flex-direction: column;
    }
    /* nav done */
    .banner-title{
        font-size: 29px;
    }
    .banner-img img{
        width: 100%;
        height: 100%;
    }
    /* banner done */
    .quick-features{
        grid-template-areas: "qf-img" "qf-info";
        gap: 30px;
        /* text-align: center; */
    }
    .qf-img{
        grid-template-columns: repeat(1,1fr);
        
    }
    .qf-info{
        margin-left: auto;
        text-align: center;
    }
    /* quick feature done */
    .all-features{
        flex-direction: column;
        margin-top: 100px;
    }
    .af-info {
        margin-right: 0px;
        margin-left: 20px;
    }
    .af-title{
        font-size: 30px;
    }
    .af-img img{
        width: 337px;
        height: 100%;
        margin-left: 25px;
    }
    .img-btn{
        right: -100px;
        bottom: 58px;
    }
    .ten{
        font-size: 30px;
    }
    /* all-features done */
    .fact-box{
        margin-left: 30px;
    }
    .boxes{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .box{
        padding: 26px 8px;
    }
    .fact-title{
        font-size: 35px;
    }
    /* fact-box done */
    .all-Sponsers{
        margin-top: 100px;
    }
    .sponser-title{
        font-size: 35px;
    }
    .sponsers{
        flex-direction: column;
    }
    /* all-Sponsers done */
    .subscribe-title{
        font-size: 35px;
        text-decoration-line: underline;
    } 
    .inputs{
        flex-direction: column;
    }

}
